
<!-- <div class="row row-cols-1 row-cols-md-4 g-4"> -->

  <div class="col mt-4">
    <div class="card">
      <div class="card-header bg-warning">
        <div class="row">
          
          <div class="col-9">
            <h5 class="card-title"><i class="bi bi-cart-fill"></i> {{producto.nombre}}</h5>

          </div>
          
          <div class="col-3">
            <a href="/detalle_producto/{{producto.id_producto}}" class="col-4 btn btn-outline-dark"><i class="bi bi-eye-fill"></i></a>
            <button *ngIf="desdeCotizacion" (click)="agregarProductoCotizacion(producto.id_producto,producto.precio)" href="#" class="col-4 btn btn-outline-dark"><i class="bi bi-cart"></i> </button>
            <button *ngIf="!desdeCotizacion" (click)="deleteProduct(producto.id_producto)" class="col-4 btn btn-outline-dark"><i class="bi bi-trash"></i></button>
          </div>

        </div>
      </div>
      <div class="card-body">
        <div class="row">
          
          <div class="col-9">
            <p class="card-text">{{producto.descripcion}}</p>
            <hr>
            <p class="card-text">VALOR: {{producto.precio | currency:'CLP':'symbol-narrow'}}</p>
          </div>

        </div>

      </div>
    </div>
  </div>
  
<!-- </div> -->