<app-menu></app-menu>

<div class="container mt-4">

    <div class="row">
      <div class="col-lg-12">


        <div class="card">

          <div class="card-body">
            <h3 class="card-title text-warning"><i class="bi bi-card-checklist"></i> Detalle cotizacion Nº {{cotizacion_seleccionada}}</h3>
            <!-- <p class="card-text">Crear nuevo cliente</p> -->

            <form>
                <fieldset disabled>

                    <div class="row g-3 align-items-center">
                        
                        <div class="col-1">
                            <label for="inputText" class="col-form-label">Cliente</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="inputText" class="form-control" value="{{this.datos_cliente.nombre}}">
                        </div>
                        
                        <div class="col-1">
                            <label for="inputText" class="col-form-label">Telefono</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="inputText" class="form-control" value="{{this.datos_cliente.telefono}}">
                        </div>
                        
                        <div class="col-1">
                            <label for="inputText" class="col-form-label">Correo</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="inputText" class="form-control" value="{{this.datos_cliente.correo}}">
                        </div>
                       
                        
                        <div class="col-1">
                            <label for="inputText" class="col-form-label">Descripción</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="inputText" class="form-control" value="{{this.datos_cotizacion.descripcion}}">
                        </div>
                       

                        <div class="col-1">
                            <label for="inputText" class="col-form-label">Fecha</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="inputText" class="form-control" value="{{this.datos_cotizacion.fecha_creacion}}">
                        </div>

                        <div class="col-1">
                            <label for="inputText" class="col-form-label">Fecha Vencimiento</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="inputText" class="form-control" value="{{this.datos_cotizacion.fecha_vencimiento}}">
                        </div>
                       

                        <div class="col-1">
                            <label for="inputText" class="col-form-label">Estado</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="inputText" class="form-control btn btn-success" value="Aprobada">
                        </div>

                    </div>

                </fieldset>
              </form>

          </div>
  
          <hr> 

          <form>
            <fieldset >

                <div class="container">
                    <div class="row">
                        
                        <div class="col-4 d-grid gap-1">
                            <a href="/productos" class="btn btn-warning"><i class="bi bi-cart"></i> Agregar Productos</a>
                        </div>
                        <div class="col-4 d-grid gap-1">
                            <button class="btn btn-warning"><i class="bi bi-envelope"></i> Enviar a Cliente</button>
                        </div>
                        <div class="col-4 d-grid gap-1">
                            <button class="btn btn-warning"><i class="bi bi-person-workspace"></i> Enviar a Producción</button>
                        </div>

                    </div>
                </div>

            </fieldset>
          </form>

          <hr> 

          <div class="container">
              <h5 class="card-title text-warning"> <i class="bi bi-card-list"></i> Listado de productos</h5>
    
                <table class="table table-striped">
                  <thead class="table-warning">
                    <tr>
                      <!-- <th scope="col">Codigo</th> -->
                      <th scope="col">Codigo</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Valor unitario</th>
                      <th scope="col">Valor total</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
   
  
                  <tr *ngFor="let productos of productos_cotizacion" class="table-light">
                      <td>{{productos.nombre}}</td>
                      <td>{{productos.descripcion}}</td>
                      <td>{{productos.cantidad}}</td>
                      <td>${{productos.valor}}</td>
                      <td>${{ (productos.valor * productos.cantidad) }}</td>
                      <td>
                          <button (click)="eliminarProductoCotizacion(productos.id_producto)" class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</button>
                      </td>
                  </tr>
  
                   
                  </tbody>
                </table>
         </div>

        </div>



      </div>
    </div>


  </div>
  