<nav class="navbar navbar-expand-lg  bg-white">
    <div class="container-fluid">
      <a class="navbar-brand bg-white " href="./principal">
        <img src="../assets/images/logo.png" width="200" alt="">
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item mr-4">
            <a class="nav-link active text-dark" aria-current="page" href="/clientes">
              <i class="bi bi-people-fill text-warning"></i> CLIENTES
            </a>
          </li>
          
          <li class="nav-item mr-4">
            <a class="nav-link active text-dark" aria-current="page" href="/cotizaciones">
              <i class="bi bi-receipt-cutoff text-warning"></i> COTIZACIONES
            </a>
          </li>
          
          <li class="nav-item mr-4">
            <a class="nav-link active text-dark" aria-current="page" href="/productos">
              <i class="bi bi-cart-fill text-warning"></i> PRODUCTOS
            </a>
          </li>
          
          <li class="nav-item mr-4">
            <a class="nav-link active text-dark" aria-current="page" href="/colaboradores">
              <i class="bi bi-person-workspace text-warning"></i> COLABORADORES
            </a>
          </li>
          
          <li class="nav-item mr-4">
            <a class="nav-link active text-dark" aria-current="page" href="/cuestionario">
              <i class="bi bi-question-square-fill text-warning"></i> CUESTIONARIO
            </a>
          </li>
          
          <li class="nav-item mr-4">
            <a class="nav-link active text-dark" aria-current="page" href="/opciones">
              <i class="bi bi-gear-wide text-warning"></i> OPCIONES
            </a>
          </li>

          <li class="nav-item mr-4">
            <a (click)="cerrarSession()" href="#" class="nav-link active text-danger" aria-current="page" >
              <i class="bi bi-door-closed-fill"></i> SALIR
            </a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/configuracion_cuestionario">Configurar Cuestionario</a>
          </li> -->
  
        </ul>
  
      </div>
    </div>
  </nav>