<app-menu></app-menu>

<div class="card">
    <div class="card-body">


        <div class="row ">
   

            <!-- CARD PRODUCTOS -->
            <div class="col-4">
              
                <div class="card">
                  <div class="card-header">
                      <h3 class=""><i class="bi bi-cart"></i> Productos</h3>
                  </div>
                  <div class="card-body">
                   
                      <div class="row">
  
                      <!-- PRODUCTO 1-->
                          <div class="col-12">
                              <div class="card border-secondary">
                                  <div class="card-header text-bg-secondary">
                                      SM-OP1
                                  </div>
                                  <div class="card-body">
  
                                       <p class="card-text">
                                        SOCIAL MEDIA - ORGANICO Y PAGADO FACEBOOK + INSTAGRAM
                                       </p>
  
                                  </div>
                              </div>
                          </div>
  
                      <!-- PRODUCTO 2-->
                          <div class="col-12 mt-3">
                              <div class="card border-secondary">
                                  <div class="card-header text-bg-secondary">
                                      SM-OP2
                                  </div>
                                  <div class="card-body">
  
                                       <p class="card-text">
                                        SOCIAL MEDIA - ORGANICO Y PAGADO FACEBOOK + INSTAGRAM
                                       </p>
  
                                  </div>
                              </div>
                          </div>
  
                      <!-- PRODUCTO 3-->
                          <div class="col-12 mt-3">
                              <div class="card border-secondary">
                                  <div class="card-header text-bg-secondary">
                                      SM-OP3
                                  </div>
                                  <div class="card-body">
  
                                       <p class="card-text">
                                        SOCIAL MEDIA - ORGANICO Y PAGADO FACEBOOK + INSTAGRAM
                                       </p>
  
                                  </div>
                              </div>
                          </div>
  
  
  
                      </div> <!-- FIN ROW PRODUCTOS -->
  
                  </div>
                </div>
  
              </div>
              <!-- FIN CARD PRODUCTOS -->




            <!-- CARD PROBLEMAS -->
            
            <div class="col-4">
              
              <div class="card">
                <div class="card-header">
                    <h3 class=""><i class="bi bi-list-ol"></i>Problematicas</h3>
                </div>
                <div class="card-body">
                 
                    <div class="row">

                        <!-- PROBLEMA 1-->
                            <div class="col-6">
                                <div class="card border-warning">
                                    <div class="card-header text-bg-warning">
                                        PROBLEMA 1
                                    </div>
                                    <div class="card-body">
                                        Porblematica Redes sociales
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Productos:</p>
  
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header text-bg-secondary">
                                                        <div class="card-title">SM-OP1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header text-bg-secondary">
                                                        <div class="card-title">SM-OP2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        <!-- PROBLEMA 1-->
                            <div class="col-6">
                                <div class="card border-warning">
                                    <div class="card-header text-bg-warning">
                                        PROBLEMA 2
                                    </div>
                                    <div class="card-body">
                                        Porblematica Marketing
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Productos:</p>
  
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header text-bg-secondary">
                                                        <div class="card-title">SM-OP1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header text-bg-secondary">
                                                        <div class="card-title">SM-OP2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        <!-- PROBLEMA 1-->
                            <div class="col-6 mt-4">
                                <div class="card border-warning">
                                    <div class="card-header text-bg-warning">
                                        PROBLEMA 3
                                    </div>
                                    <div class="card-body">
                                        Porblematica Posicionamiento 
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Productos:</p>
  
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header text-bg-secondary">
                                                        <div class="card-title">SM-OP1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header text-bg-secondary">
                                                        <div class="card-title">SM-OP2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        <!-- PROBLEMA 1-->
                            <div class="col-6 mt-4">
                                <div class="card border-warning">
                                    <div class="card-header text-bg-warning">
                                        PROBLEMA 4
                                    </div>
                                    <div class="card-body">
                                        Porblematica Seguimiento
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Productos:</p>
  
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header text-bg-secondary">
                                                        <div class="card-title">SM-OP1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header text-bg-secondary">
                                                        <div class="card-title">SM-OP2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
    
    
                        </div>


                </div>
              </div>

            </div>
 
 <!-- AAAAAAAAAAAAAAAAAAA -->
    
           <!-- CARD RESPUESTAS -->
            
           <div class="col-4">
              
            <div class="card">
              <div class="card-header">
                  <h3 class=""><i class="bi bi-question-circle"></i> Preguntas</h3>
              </div>
              <div class="card-body">
             
                  <div class="row">

                      <!-- PRODUCTO 1-->
                          <div class="col-12">
                              <div class="card border-primary text-bg-primary">
                                  <div class="card-header ">
                                      1: ¿Que herramientas dispones para la comunicación con tus clientes?
                                  </div>
                                  <div class="card-body">
                                      <!-- <p class="card-title">Etapas:</p> -->
  
                                      <div class="row">
                                          
                                          <!-- ALTERNATIVAS -->
                                          <div class="col-12">
                                              <div class="card  border-success">
                                                  <div class="card-header">
                                                    <div class="card-title col-12">
                                                        <h5 class="text-dark">a: Correo electronico</h5>
                                                    </div>
                                                  </div>
                                                  <div class="card-body">

                                                      <!-- ETAPAS ALTERNATIVA -->
                                                      <div class="row p-0">

                                                          <div class="col-3">
                                                              <div class="card">
                                                                  <div class="card-header text-bg-warning">
                                                                      <div class="card-title">P1</div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
                                          
                                          <!-- ALTERNATIVAS -->
                                          <div class="col-12">
                                              <div class="card border-success mt-2">
                                                <div class="card-header">
                                                    <div class="card-title col-12">
                                                        <h5 class="text-dark">b: Ninguna</h5>
                                                    </div>
                                                </div> 
                                                <div class="card-body">
                                                      <!-- ETAPAS ALTERNATIVA -->
                                                      <div class="row p-0">

                                                          <div class="col-3">
                                                              <div class="card">
                                                                  <div class="card-header text-bg-warning">
                                                                      <div class="card-title">P2</div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="col-3">
                                                              <div class="card">
                                                                  <div class="card-header text-bg-warning">
                                                                      <div class="card-title">P2</div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="col-3">
                                                              <div class="card">
                                                                  <div class="card-header text-bg-warning">
                                                                      <div class="card-title">P3</div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
                                          
                                          <!-- ALTERNATIVAS -->
                                          <div class="col-12">
                                              <div class="card border-success mt-2">
                                                 <div class="card-header">
                                                    <div class="card-title col-12">
                                                        <h5 class="text-dark">c: Facebook, Correo, Mensajeria instantanea.</h5>
                                                    </div>
                                                  </div>
                                                  <div class="card-body">

                                                      <!-- ETAPAS ALTERNATIVA -->
                                                      <div class="row p-0">

                                                      </div>

                                                  </div>
                                              </div>
                                          </div>

                                      </div>
  
                                  </div>
                              </div>
                          </div>
  
  
                      </div> <!-- FIN ROW PRODUCTOS -->
                  
              </div>
            </div>

          </div> <!-- FIN SECCION RESPUESTAS -->


          </div>


    </div>
</div>