<div class="container mt-4">

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <!-- <div class="card-header">
            Nuevo Cliente
          </div> -->
          <div class="card-body">
            <h3 class="card-title text-warning"><i class="bi bi-cart"></i> Detalle Producto SM-OP3</h3>
            <!-- <p class="card-text">Crear nuevo cliente</p> -->
          </div>
  
        </div>
      </div>
    </div>
  
  </div>

  <div class="container mt-4">

    
        <div class="card">
            <div class="card-body">


                <div class="row row-cols-1 row-cols-md-12 g-4">
                    
                    
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h2 class="card-title">SM-OP3</h2>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos error placeat, sint impedit, ipsum tenetur enim laborum est nam tempora explicabo dolores vero repudiandae, delectus quos eius! Explicabo, sint veniam?. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque qui quisquam molestiae aspernatur iste sunt hic recusandae beatae labore natus ad quas minima veritatis, debitis quidem nisi soluta corrupti maiores.</p>
                        </div>
                        <div class="card-body d-grid gap-1">
                            <a href="/detalle_cotizacion" class="btn btn-warning"><i class="col-6 bi bi-cart"></i> AGREGAR</a>
                            <!-- <a href="/detalle_producto" class="btn btn-warning"><i class="col-6 bi bi-eye-fill"></i> VER</a> -->
                          </div>
                      </div>
                    </div>
                
        
                  </div>


            </div>
        </div>
    
  </div>
  



  