<div *ngFor="let problematica of problematicas" class="card mt-4">
    <div class="card-header">
        <div class="row">
            <div class="col-11">
                <h5>{{problematica.descripcion}}</h5>
            </div>
            <div class="col-1">
                <button (click)="eliminarProblematica(problematica.id_problematica)" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-title">Productos:</p>

        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-header text-bg-secondary">
                        <div class="card-title">SM-OP1</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header text-bg-secondary">
                        <div class="card-title">SM-OP2</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>