
<div class="container mt-5">

    <div class="row align-items-center">
      
      <div class=" d-none d-lg-block col-lg-8">
        <img src="../assets/images/logo.png" alt="">
      </div>

      <div class="col-12 col-lg-4  mt-4">
  
          <div id="card-login" class="card col-12 border-warning ">
  
            <div class="card-body">
              <img class="card-img-top" src="../assets/images/logo.png" width="" alt="">
              
              <div class="input-group mb-3 border-warning">
                <span class="input-group-text " id=""><i class="bi bi-envelope-at"></i></span>
                <input type="text" class="form-control form-control-lg border-warning" placeholder="" aria-label="correo" >
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text " id=""><i class="bi bi-key"></i></span>
                <input type="password" class="form-control form-control-lg border-warning" placeholder="" aria-label="correo" >
              </div>
              <div class="input-group mb-3 d-grid">
                <a href="/principal" id="boton_login" class="btn btn-lg block btn-warning "><i class="bi bi-door-open"></i> Ingresar</a>
              </div>
  
            </div>
          </div>
  
      </div> 
  
    </div>

  
  </div>