<app-menu></app-menu>

<div class="container mt-4">

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <!-- <div class="card-header">
            Nuevo Cliente
          </div> -->
          <div class="card-body">
            <h3 class="card-title text-warning"><i class="bi bi-cart"></i> Productos</h3>
            <!-- <p class="card-text">Crear nuevo cliente</p> -->
              <form action="">
                <div class="row g-2 align-items-center">
                 
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Seleccione una categoria:</label>

                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option value="1">Social Media</option>
                            <option value="2">SEO SEM</option>
                            <option value="3">Marketing</option>
                            <option value="3">Desarrollo Web</option>
                        </select>

                      </div>


                </div>
              </form>
          </div>
  
        </div>
      </div>
    </div>
  
  </div>

  <div class="container mt-4">

    
        <div class="card">
            <div class="card-body">


                <div class="row row-cols-1 row-cols-md-4 g-4">
                    
                    
                    <div class="col">
                      <div class="card">
                        <img src="../assets/images/producto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SM-OP3</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-body d-grid gap-1">
                            <a href="/detalle_cotizacion" class="btn btn-warning"><i class="col-6 bi bi-cart"></i> AGREGAR</a>
                            <a href="/detalle_producto" class="btn btn-warning"><i class="col-6 bi bi-eye-fill"></i> VER</a>
                          </div>
                      </div>
                    </div>
                    
                    <div class="col">
                      <div class="card">
                        <img src="../assets/images/producto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SM-OP2</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-body d-grid gap-1">
                            <a href="/detalle_cotizacion" class="btn btn-warning"><i class="col-6 bi bi-cart"></i> AGREGAR</a>
                            <a href="/detalle_producto" class="btn btn-warning"><i class="col-6 bi bi-eye-fill"></i> VER</a>
                          </div>
                      </div>
                    </div>
                    
                    <div class="col">
                      <div class="card">
                        <img src="../assets/images/producto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SM-OP1</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-body d-grid gap-1">
                            <a href="/detalle_cotizacion" class="btn btn-warning"><i class="col-6 bi bi-cart"></i> AGREGAR</a>
                            <a href="/detalle_producto" class="btn btn-warning"><i class="col-6 bi bi-eye-fill"></i> VER</a>
                          </div>
                      </div>
                    </div>
                    
                    <div class="col">
                      <div class="card">
                        <img src="../assets/images/producto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SM-P3</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-body d-grid gap-1">
                            <a href="/detalle_cotizacion" class="btn btn-warning"><i class="col-6 bi bi-cart"></i> AGREGAR</a>
                            <a href="/detalle_producto" class="btn btn-warning"><i class="col-6 bi bi-eye-fill"></i> VER</a>
                          </div>
                      </div>
                    </div>
                    
                    <div class="col">
                      <div class="card">
                        <img src="../assets/images/producto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SM-P2</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-body d-grid gap-1">
                            <a href="/detalle_cotizacion" class="btn btn-warning"><i class="col-6 bi bi-cart"></i> AGREGAR</a>
                            <a href="/detalle_producto" class="btn btn-warning"><i class="col-6 bi bi-eye-fill"></i> VER</a>
                          </div>
                      </div>
                    </div>
                    
                    <div class="col">
                      <div class="card">
                        <img src="../assets/images/producto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SM-P1</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-body d-grid gap-1">
                            <a href="/detalle_cotizacion" class="btn btn-warning"><i class="col-6 bi bi-cart"></i> AGREGAR</a>
                            <a href="/detalle_producto" class="btn btn-warning"><i class="col-6 bi bi-eye-fill"></i> VER</a>
                          </div>
                      </div>
                    </div>
        
                  </div>


            </div>
        </div>
    
  </div>
  



  