<app-menu></app-menu>


<div class="container px-4 text-center mt-4">
    <div class="row">
        <h5>Bienvenido Antonio Trombert - Admin</h5>
    </div>
    
    <div class="row gx-5 mt-4">

      <div class="col-lg-4 mt-4">
        <a class="opciones" href="./clientes">
            <div class="card bg-warning">
                <div class="card-body">
                    <h1><i class="bi bi-people-fill"></i></h1>
                    <h3>CLIENTES</h3>
                </div>
            </div>
        </a>
      </div>

      <div class="col-lg-4 mt-4">
        <a class="opciones" href="./cotizaciones">
            <div class="card bg-warning">
                <div class="card-body">
                    <h1><i class="bi bi-receipt-cutoff"></i></h1>
                    <h3>COTIZACIONES</h3>
                </div>
            </div>
        </a>
      </div>

      <div class="col-lg-4 mt-4">
        <a class="opciones" href="./productos">
            <div class="card bg-warning">
                <div class="card-body">
                    <h1><i class="bi bi-cart-fill"></i></h1>
                    <h3>PRODUCTOS</h3>
                </div>
            </div>
        </a>
      </div>

      <div class="col-lg-4 mt-4">
        <a class="opciones" href="./colaboradores">
            <div class="card bg-warning">
                <div class="card-body">
                    <h1><i class="bi bi-person-workspace"></i></h1>
                    <h3>COLABORADORES</h3>
                </div>
            </div>
        </a>
      </div>

      <div class="col-lg-4 mt-4">
        <a class="opciones" href="./cuestionario">
            <div class="card bg-warning">
                <div class="card-body">
                    <h1><i class="bi bi-question-square-fill"></i></h1>
                    <h3>CUESTIONARIO</h3>
                </div>
            </div>
        </a>
      </div>

      <div class="col-lg-4 mt-4">
        <a class="opciones" href="./opciones">
            <div class="card bg-warning">
                <div class="card-body">
                    <h1><i class="bi bi-gear-wide"></i></h1>
                    <h3>OPCIONES</h3>
                </div>
            </div>
        </a>
      </div>



    </div>
  </div>