
<div (click)="seleccionarAlternativa(alternativa.id_alternativa)" *ngFor="let alternativa of alternativas" class="card border-dark mt-2" [ngClass]="{'bg-danger':alternativa_seleccionada===alternativa.id_alternativa}" >
    <div  class="card-header">
    <div class="card-title col-12">
        <h5 class="text-dark">{{alternativa.texto_alternativa}}</h5>
    </div>
    </div>
    <div class="card-body">

        <!-- ETAPAS ALTERNATIVA -->
        <!-- <div class="row p-0">

            <div class="col-3">
                <div class="card">
                    <div class="card-header text-bg-warning">
                        <div class="card-title">P1</div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>