<div class="card">
    <div class="card-header">
        <h3 class=""><i class="bi bi-list-ol"></i>Problematicas</h3>
    </div>
    <div class="card-body">
     
        <div class="row">

            <!-- PROBLEMA 1-->
                <div class="col-12">
                    <div class="card border-warning">
                        <div class="card-header text-bg-warning">
                            PROBLEMA 1
                        </div>
                        <div class="card-body">
                            Porblematica Redes sociales
                        </div>
                        <div class="card-body">
                            <p class="card-title">Productos:</p>

                            <div class="row">
                                <div class="col-3">
                                    <div class="card">
                                        <div class="card-header text-bg-secondary">
                                            <div class="card-title">SM-OP1</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card">
                                        <div class="card-header text-bg-secondary">
                                            <div class="card-title">SM-OP2</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


    </div>
  </div>