<app-menu></app-menu>

<div class="container mt-4">

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <!-- <div class="card-header">
            Nuevo Cliente
          </div> -->
          <div class="card-body">
            <h3 class="card-title text-warning"><i class="bi bi-person"></i> Clientes</h3>
            <!-- <p class="card-text">Crear nuevo cliente</p> -->
              <form action="">
                <div class="row g-2 align-items-center">
                 
                  <div class="col-4">
                    <label for="inputName" class="col-form-label">Nombre del cliente:</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="inputName" class="form-control">
                  </div>
  
                  <div class="col-4">
                    <label for="inputName" class="col-form-label">Telefono del cliente:</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="inputName" class="form-control">
                  </div>
  
  
                  <div class="col-4">
                  </div>
                  <div class="col-8">
  
                  </div>
  
                  <div class="d-grid gap-1">
                    <button type="submit" class="btn btn-warning block"> 
                      <i class="bi bi-plus-square-fill"></i>
                      Guardar
                  </button>
                  </div>
                </div>
              </form>
          </div>
  
        </div>
      </div>
    </div>
  
    <br>
  
    <div class="row">
      <div class="col-12">
        <div class="card" >
  
          <div class="card-body">
            <h5 class="card-title text-warning"> <i class="bi bi-card-list"></i> Listado de clientes</h5>
  
              <table class="table table-striped">
                <thead class="table-warning">
                  <tr>
                    <!-- <th scope="col">Codigo</th> -->
                    <th scope="col">Nombre del cliente</th>
                    <th scope="col">Teléfono del cliente</th>
                    <th scope="col">Correo del clente</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
  
                  <tr>
                    <td>Billy Salazar Ríos</td>
                    <td>+56982537240</td>
                    <td>desarrollo@billysalazar.cl</td>
                    <td>
                        <a href="/cotizaciones/" class="btn btn-warning"><i class="bi bi-card-checklist"></i> Ver cotizaciones</a>
                    </td>
                    <td>
                      <button class="btn btn-danger"><i class="bi bi-trash"></i>Eliminar</button>
                    </td>
                  </tr>
                 
                  <tr>
                    <td>Billy Salazar Ríos</td>
                    <td>+56982537240</td>
                    <td>desarrollo@billysalazar.cl</td>
                    <td>
                        <a href="/cotizaciones/" class="btn btn-warning"><i class="bi bi-card-checklist"></i> Ver cotizaciones</a>
                    </td>
                    <td>
                      <button class="btn btn-danger"><i class="bi bi-trash"></i>Eliminar</button>
                    </td>
                  </tr>
                 
                  <tr>
                    <td>Billy Salazar Ríos</td>
                    <td>+56982537240</td>
                    <td>desarrollo@billysalazar.cl</td>
                    <td>
                        <a href="/cotizaciones/" class="btn btn-warning"><i class="bi bi-card-checklist"></i> Ver cotizaciones</a>
                    </td>
                    <td>
                      <button class="btn btn-danger"><i class="bi bi-trash"></i>Eliminar</button>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
  
         </div>
  
        </div>
      </div>
    </div>
  </div>
  